<tr>
  <td><%= link_to image_tag(event.image_url(:thumb)), event.image_url %></td>
  <% Event::HEADERS.each do |column| %>
    <td><%= event.send(column) %></td>
  <% end %>
  <td><%= link_to t(:url), event.url %></td>
  <td><%= I18n.l(event.created_at, format: :long) %></td>
  <td><%= I18n.l(event.updated_at, format: :long) %></td>
  <td><%= link_to t(:edit), edit_admin_event_path(event) %></td>
  <td><%= link_to t(:destroy), admin_event_path(event), method: :delete, data: {confirm: t(:are_you_sure)} %></td>
</tr>