<div class="col-md-6">
  <%= simple_form_for([:admin, @admin], html: { class: 'form-horizontal' }, 
      wrapper: :horizontal_form,
      wrapper_mappings: {
      check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean}) do |f| %>
    <%= f.input :name %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit %>
  <% end %>
</div>
<div class="col-md-12">
  <%= link_to t(:back), :back %>
</div>