<div class="col-md-10">
  <h3><%= t(:user_list) %></h3>
</div>
<div class="col-md-2">
  <%= link_to t(:new_user), new_admin_user_path, class: "btn btn-danger" %>
</div>
<div class="col-md-12">
  <%= paginate @users %>
  <table class="table">
    <thead>
      <tr>
        <% User::HEADERS.each do |column| %>
          <th><%= User.human_attribute_name(column) %></th>
        <% end %>
        <th><%= User.human_attribute_name(:created_at) %></th>
        <th><%= User.human_attribute_name(:updated_at) %></th>
        <th colspan="3"><%= t(:operations) %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>