<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t(:title), admin_root_url, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if admin_logged_in? %>
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if params[:controller] == 'admin/events' %>"><%= link_to Event.model_name.human, admin_events_path %></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= 'active' if params[:controller] == 'admin/admins' %>"><%= link_to Admin.model_name.human, admin_admins_path %></li>
          <li><%= link_to t('logout'), admin_logout_path, method: :delete %></li>
        </ul>

      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('login'), admin_login_path %></li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>